langchain
python-dotenv
langchain-openai
ipykernel
beautifulsoup4
langchain_community
faiss-cpu
streamlit
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
transformers
langchain-chroma
langchain_huggingface
sentence-transformers
langchain-classic
